.blue-heading {
	color: #1f66f4;
}

form .row .col-xs-12 {
	padding: 10px;
}

form label {
	width: 100px;
}

h3.result {
	padding-bottom: 20px;
}

.submit-container img {
	display: none;
	width: 30px;
    margin-left: 20px;
}
